*{
    margin: 0;
    padding: 0;
}


/* Preloader */

.loader{
    position: fixed;
    top:0;
    left: 0;
    background-color: white;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.disppear{
    animation: faded 1s forwards;
}
@keyframes faded {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

/* End of Prelaoder */

body{
    background-image: url(calc.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
button{
    width: 100px;
    height: 50px;
    margin: 2px 2px;
    background-color: black;
    color: #04ff00;
    border-radius: 20px;
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    cursor: pointer;
}
#outside{
    color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
    width: 1000px;
    height: 600px;
    padding: 5px;
    margin-left:550px; 
}
#heading{
    margin: auto;
    width: 412px;
    font-size: xxx-large;
}
#btn{
    margin: auto;
    margin-top: 20px;
    width: 815px;
}
.btn-inside{
    width: 900px;
}
#val{
    /* border: 2px solid red; */
    height: 70px;
    width: 783px;
    margin-left: 100px;
    color: red;
    padding-left: 37px;
    padding-top: 20px;
    font-weight: bolder;
}
#res{
    /* border: 2px solid red; */
    height: 100px;
    width: 783px;
    margin-left: 100px;
    color: red;
    padding-left: 37px;
    padding-top: 25px;
    font-weight: bolder;
    font-size: x-large;
}

