* {
    margin: 0;
    padding: 0;
}


/* Preloader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disppear {
    animation: faded 1s forwards;
}

@keyframes faded {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* End of Prelaoder */

body {
    background-image: url(calc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-position: bottom;
    background-size: cover;
}

button {
    width: 100px;
    height: 50px;
    margin: 2px 2px;
    background-color: black;
    color: #04ff00;
    border-radius: 20px;
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    cursor: pointer;
    border: 2px inset rgb(214, 227, 130);
}

button:hover {
    background-color: #04ff00;
    color: #121212;
}

#outside {
    color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
    width: 1000px;
    height: 600px;
    padding: 5px;
    margin-left: 550px;
}

#heading {
    width: 412px;
    margin-left: 155px;
    padding-bottom: 25px;
    font-size: xxx-large;
    font-family: 'Caveat', cursive;
    text-align: center;
    margin-bottom: 25px;
    color: #cedccd;
}

#btn {
    margin: auto;
    margin-top: 20px;
    width: 815px;
}

.btn-inside {
    width: 900px;
}

#val {
    /* border: 2px solid red; */
    height: 60px;
    background-color: black;
    text-align: right;
    width: 480px;
    margin-left: 100px;
    color: rgb(214, 227, 130);
    padding-right: 37px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: bolder;
    border-radius: 20px;
    border: 2px inset #04ff00;
}

#res {
    /* border: 2px solid red; */
    height: 50px;
    width: 480px;
    text-align: right;
    background-color: black;
    margin-top: 25px;
    margin-left: 100px;
    color: rgb(214, 227, 130);
    padding-right: 37px;
    padding-top: 20px;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 20px;
    border: 2px inset #04ff00;
}