* {
    margin: 0;
    padding: 0;
}


/* Preloader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disppear {
    animation: faded 1s forwards;
}

@keyframes faded {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* End of Prelaoder */

body {
    background-image: url(calc.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
   
    background-position: bottom;
    background-size: cover;
}

button {
    width: 9vw;
    height: 11vh;
    margin: 0.6vh 0.7vw;
    background-color: white;
    color: #000000;
    border-radius: 20px;
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    cursor: pointer;
    border: 3.5px inset #000000;
    transition: background-color 100ms ease-in-out;
}

button:hover {
    background-color: #269aff;
    border: 4px inset #2121d3;
    color: #e1f1ff;
    box-shadow: 0 0.79em 0.79em -0.3em #2121d3;
    transform: translateY(-0.2em);
    cursor: pointer
}

#special {
    background-color: #000000;
    color: white;
    transition: background-color 100ms ease-in-out;
    border: 4px inset #ffffff;
}


#special:hover {
    background-color: rgb(223, 19, 3);
    border: 4px inset green;
    box-shadow: 0 0.79em 0.79em -0.2em brown;
    transform: translateY(-0.15em);
    cursor: pointer
}

#outside {
    color: white;
    border-radius: 5px;
    margin-top: 2vh;
    justify-content: left;
    height: 100vh;
    margin-bottom: 4vh;
    margin-left: 7%;
}

#heading {
    
    padding-bottom: 2vh;
    font-size: 4rem;
    font-family: 'Caveat', cursive;
    
    margin-left: 6vw;
    color: #364349;
}

#btn {
    margin-top: 20px;
    
}

.btn-inside {
    width: 70vw;
}

#val {
    /* border: 2px solid red; */
    height: 7vh;
    background-color: #000000;
    text-align: right;
    width: 48vw;
    color: white;
    padding-right: 4vw;
    padding-top: 4vh;
    padding-bottom: 2vh;
    font-weight: bolder;
    border-radius: 20px;
    border: 4px inset white;
}

#res {
    /* border: 2px solid red; */
    height: 7vh;
    width: 48vw;
    text-align: right;
    background-color: black;
    margin-top: 4vh;
    color: white;
    padding-right: 4vw;
    padding-top: 2vh;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 20px;
    border: 4px inset #ffffff;
}

@media screen and (max-width:700px) {
    #heading{
       
    text-align: center;
    
    }
    #val {
        /* border: 2px solid red; */
        height: 7vh;
        background-color: #000000;
        text-align: right;
        width: 76%;
        color: white;
        margin-left:9%;
        margin-right: 12%;
        padding-top: 4vh;
        padding-bottom: 2vh;
        font-weight: bolder;
        border-radius: 20px;
        border: 4px inset white;
    }
    #res{
        height: 7vh;
        width: 76%;
        text-align: right;
        background-color: black;
        margin-top: 4vh;
        color: white;
        margin-left: 9%;
        margin-right: 12%;
        padding-top: 2vh;
        font-weight: bolder;
        font-size: x-large;
        border-radius: 20px;
        border: 4px inset #ffffff;
    }

    
.btn-inside {
    width: 80%;
    margin-left: 12%;
    margin-right: 12%;
    
}
button {
    width: 12vw;
    height: 11vh;
    margin: 0.6vh 0.7vw;
    background-color: white;
    color: #000000;
    border-radius: 20px;
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    cursor: pointer;
    border: 3.5px inset #000000;
    transition: background-color 100ms ease-in-out;
}
}
