* {
    margin: 0;
    padding: 0;
}


/* Preloader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disppear {
    animation: faded 1s forwards;
}

@keyframes faded {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* End of Prelaoder */

body {
    background-image: url("calc.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-position: bottom;
    background-size: cover;
}

button {
    width: 100px;
    height: 50px;
    margin: 2px 2px;
    background-color: white;
    color: #000000;
    border-radius: 20px;
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    cursor: pointer;
    border: 4px inset #000000;
    transition: background-color 100ms ease-in-out;
}

button:hover {
    background-color: #269aff;
    border: 4px inset #2121d3;
    color: #e1f1ff;
    box-shadow: 0 0.75em 0.75em -0.3em #2121d3;
    transform: translateY(-0.15em);
    cursor: pointer
}

#special {
    background-color: #000000;
    color: white;
    transition: background-color 100ms ease-in-out;
    border: 4px inset #ffffff;
}

#special:hover {
    background-color: rgb(255, 3, 3);
    border: 4px inset #000000;
    box-shadow: 0 0.75em 0.75em -0.3em black;
    transform: translateY(-0.15em);
    cursor: pointer
}

#outside {
    color: white;
    border-radius: 5px;
    margin-top: 100px;
    width: 1000px;
    height: 600px;
    padding: 5px;
    margin-left: 150px;
}

#heading {
    width: 412px;
    padding-bottom: 25px;
    font-size: 80px;
    font-family: 'Caveat', cursive;
    text-align: center;
    margin-left: 50px;
    color: #364349;
}

#btn {
    margin-top: 20px;
    margin-right: 250px;
    width: 815px;
}

.btn-inside {
    width: 900px;
}

#val {
    /* border: 2px solid red; */
    height: 60px;
    background-color: #000000;
    text-align: right;
    width: 480px;
    color: white;
    padding-right: 37px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: bolder;
    border-radius: 20px;
    border: 4px inset white;
}

#res {
    /* border: 2px solid red; */
    height: 50px;
    width: 480px;
    text-align: right;
    background-color: black;
    margin-top: 25px;
    color: white;
    padding-right: 37px;
    padding-top: 20px;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 20px;
    border: 4px inset #ffffff;
}